.input {
        width:200px;
		padding: 5px;
        font-size: 15px;
        text-shadow: 0px 1px 0px #fff;
        outline: none;
        background: -webkit-gradient(linear, left top, left bottom, from(#F0FCFF), to(#ffffff));
        background: -moz-linear-gradient(top, #F0FCFF,  #ffffff);
       border-radius: 4px;
}
.header {
    text-align: center;
       font-family: 'Bitter', serif;
    font-weight: bold;
}

input:focus {
        -webkit-box-shadow: 0px 0px 5px #007eff;
        -moz-box-shadow: 0px 0px 5px #007eff;
        box-shadow: 0px 0px 5px #007eff;
}


textarea:focus {
        -webkit-box-shadow: 0px 0px 5px #007eff;
        -moz-box-shadow: 0px 0px 5px #007eff;
        box-shadow: 0px 0px 5px #007eff;
}


.select 
{  
       border-radius: 4px;
    width: 200px;
        padding: 5px;
        font-size: 15px;
        text-shadow: 0px 1px 0px #fff;
        outline: none;
        background: #e0f3fa; /* Old browsers */


  
}
.form {
margin: auto;
  margin-top: 30px;  
   
        width: 500px;
border:2px solid #4682B4 ;
    height: 500px;
         background: #f6f8f9; 

}




label {
        float:right;
        padding-right:10px;
       
         margin-top: 10px;
    font-family: 'Bitter', serif;
}
.right {
        text-align: left;
        padding-top: 5px;
 width: 200px;


}
table{
 width: 500px;   
}
textarea {
     width:200px;
		padding: 5px;
        font-size: 15px;
        text-shadow: 0px 1px 0px #fff;
        outline: none;
        background: -webkit-gradient(linear, left top, left bottom, from(#F0FCFF), to(#ffffff));
        background: -moz-linear-gradient(top, #F0FCFF,  #ffffff);
       border-radius: 4px;
   
    resize: none;
   
}
.date{
 width:200px;  
    height: 35px;
    
}
.info {
margin-left: 80px;
  
}
.btn {
    
    margin-top: 2px;
    height: 35px;
    width: auto !important;
}

.half {
    width:50%;
   
}


.area{
 
     background: -webkit-gradient(linear, left top, left bottom, from(#F0FCFF), to(#ffffff));
        background: -moz-linear-gradient(top, #F0FCFF,  #ffffff);
   
    
}

.tableExpenses{

    width: 100%;
    
}

.middle{

  text-align: center; 
    align-content: left;
    
    
    
    
}

th{}

tr{}

.free1{
 height: 200px;   
}


.free2{
 height: 10px;   
}

.name{
 width:30%;   
}
